<div class=cuerpo>
  <div class="container">
    <div class="row">
      <div class="col-12 banner position-relative">
        <img src="https://drive.google.com/uc?id=15xyKmyhUva6xLaWLR7PA7Xa9vgeE1eIk" alt="Banner" class="w-100">
      </div>
      <div class="col-12 foto-perfil text-center">
        <img src="https://drive.google.com/uc?id=1YezidkCybQV5htc7rogrc8_8o6NRSf8k" alt="Foto de Perfil"
          class="img-fluid rounded-circle">
      </div>

      <div class="container text-center segunda-row">
        <div class="row align-items-center info-perfil">
          <div class="col-md-6">
            <h3 contentEditable="true">{{ nombre }} <button class="edit-button" (click)="editar()">&#x270E;</button>
            </h3>
            <h5 contentEditable="true">{{ profesion }} <button class="edit-button" (click)="editar()">&#x270E;</button>
            </h5>
          </div>
          <div class="col-md-6 sobre-mi">
            <p contentEditable="true">{{ sobreMi }} <button class="edit-button" (click)="editar()">&#x270E;</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>