<div class="cuerpo">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="https://media.licdn.com/dms/image/C560BAQGv-Dd7A2pQ0g/company-logo_200_200/0/1646458288684?e=2147483647&v=beta&t=2bEkW38L80hsKUeV4gucwORSlBcJNmYd5H6CBz_Z00E"
            alt="" width="30" height="30" class="d-inline-block align-text-top">
          Argentina Programa #YoProgramo
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item insta">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png">
            </li>
            <li class="nav-item espacio-en-blanco"></li>
            <li class="nav-item text-center">
              <button class="button" (click)="iniciarSesion()">Login</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>